.carousel_btn-box {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.carousel-control-prev,
.carousel-control-next {
  background: none;
  border: none;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-control-prev:focus,
.carousel-control-next:focus {
  outline: none;
}

.carousel-control-prev i,
.carousel-control-next i {
  font-size: 2rem;
}
